body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 40s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
  cursor: pointer;
  position: relative;
}

.tile {
  color: currentColor;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-border {
  border-right: 0.2em solid #0074a6;
}

.bottom-border {
  border-bottom: 0.2em solid #0074a6;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.4;
}

.o-hover:hover::after {
  content: "O";
  opacity: 0.4;
}

.strike {
  position: absolute;
  background-color: darkorange;
}

.strike-row-1 {
  width: 100%;
  height: 4px;
  top: 15.5%;
}
.strike-row-2 {
  width: 100%;
  height: 4px;
  top: 49%;
}
.strike-row-3 {
  width: 100%;
  height: 4px;
  top: 83.5%;
}
.strike-column-1 {
  height: 100%;
  width: 4px;
  left: 15.5%;
}
.strike-column-2 {
  height: 100%;
  width: 4px;
  left: 49%;
}
.strike-column-3 {
  height: 100%;
  width: 4px;
  left: 83.5%;
}
.strike-diagonal-1 {
  width: 93%;
  height: 4px;
  top: 48%;
  left: 2%;
  transform: skewY(45deg);
}
.strike-diagonal-2 {
  width:  93%;
  height: 4px;
  top: 50%;
  left: 2%;
  transform: skewY(-45deg);
}

.game-over {
  text-align: center;
  border: #5468ff 8px;
  border-style: dotted;
  padding: 10px;
  margin-top: 50px;
  font-size: 1.5em;
}

.reset-button {
  margin-top: 50px;
  padding: 20px;
  background-color: #0074a6;
  color: white;
  width: 100%;
  font-size: 1.5em;
}